---
// import { slugifyStr } from "@utils/slugify";
import Datetime from "./Datetime.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  href?: string;
  frontmatter: CollectionEntry<"blog">["data"];
  secHeading?: boolean;
}

const { href, frontmatter, secHeading = true } = Astro.props as Props;
const { title, pubDatetime, modDatetime, description, draft } = frontmatter;

const headerProps = {
  // style: { viewTransitionName: slugifyStr(title) }, // Commented out as Astro may not support this property
  className: "text-lg font-medium decoration-dashed hover:underline",
};
---

<li class="my-6">
  <a
    href={href}
    class={`inline-block text-lg font-medium text-skin-accent decoration-dashed underline-offset-4 focus-visible:no-underline focus-visible:underline-offset-0 ${draft ? "opacity-70" : ""}`}
  >
    {secHeading ? (
      <h2 {...headerProps}>{title}{draft && <em> (draft)</em>}</h2>
    ) : (
      <h3 {...headerProps}>{title}{draft && <em> (draft)</em>}</h3>
    )}
  </a>
  <Datetime pubDatetime={pubDatetime} modDatetime={modDatetime} />
  <p>{description}</p>
</li>